#3d-viewer {
    border: 0.2rem solid #000;
    border-radius: 1rem;
    margin-top: 2%;
    width: 100%;
    max-width: 800px;
}

button {
    margin: 1%;
    padding: 1% 2%;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}