/* buttons.css */
.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: var(--font-size-md);
  cursor: pointer;
  transition: var(--button-hover-effect);
}

.btn-primary {
  background: var(--primary-gradient);
  color: var(--neutral-100);
}

.btn-primary:hover {
  transform: translateY(-3px);
  box-shadow: var(--shadow-md);
}

.btn-secondary {
  background-color: #6c757d;
  color: #fff;
  margin-top: 10px;
}

.btn-secondary:hover {
  background-color: #5a6268;
  transform: translateY(-3px);
  box-shadow: var(--shadow-md);
}