/* header.css */
header {
  background-color: var(--header-bg);
  padding: 20px 0;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 150px;
  height: auto;
}

.header-text h1 {
  font-size: var(--font-size-xxl);
  color: var(--neutral-100);
}

.header-text p {
  font-size: var(--font-size-lg);
  color: var(--neutral-200);
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a {
  color: var(--neutral-100);
  font-size: var(--font-size-md);
  text-decoration: none;
  transition: var(--link-hover-effect);
}

nav ul li a:hover {
  color: var(--primary-color);
}