<div class="benefit-item">
    <img src="{% static 'images/icons/bonus.png' %}" alt="{% trans 'Щедрые бонусы' %}">
    <h3>{% trans "Щедрые бонусы" %}</h3>
    <p>{% trans "Получайте вознаграждение за каждого клиента, который воспользуется нашими услугами по вашей рекомендации." %}</p>
</div>
<div class="benefit-item">
    <img src="{% static 'images/icons/support.png' %}" alt="{% trans 'Полная поддержка' %}">
    <h3>{% trans "Полная поддержка" %}</h3>
    <p>{% trans "Наша команда поможет вам на каждом этапе сотрудничества." %}</p>
</div>
<div class="benefit-item">
    <img src="{% static 'images/icons/eco.png' %}" alt="{% trans 'Эко-ориентированность' %}">
    <h3>{% trans "Эко-ориентированность" %}</h3>
    <p>{% trans "Продвигайте экологичные решения вместе с нами и привлекайте осознанных клиентов." %}</p>
</div>
<div class="benefit-item">
    <img src="{% static 'images/icons/growth.png' %}" alt="{% trans 'Развитие бизнеса' %}">
    <h3>{% trans "Развитие бизнеса" %}</h3>
    <p>{% trans "Расширяйте свою сеть и увеличивайте доход с NovaHaus." %}</p>
</div>