{% load i18n %}
<div class="partner-benefits">
    <h2>{% trans "Unsere Vorteile für Partner" %}</h2>
    <ul class="benefits-list">
        <li>
            <img src="{% static 'images/icons/bonus.png' %}" alt="{% trans 'Bonus' %}">
            <span>{% trans "Attraktive Boni und Provisionen" %}</span>
        </li>
        <li>
            <img src="{% static 'images/icons/support.png' %}" alt="{% trans 'Support' %}">
            <span>{% trans "Umfassender technischer Support" %}</span>
        </li>
        <li>
            <img src="{% static 'images/icons/eco.png' %}" alt="{% trans 'Öko' %}">
            <span>{% trans "Nachhaltige und ökologische Lösungen" %}</span>
        </li>
        <li>
            <img src="{% static 'images/icons/growth.png' %}" alt="{% trans 'Wachstum' %}">
            <span>{% trans "Wachstum und gemeinsame Erfolge" %}</span>
        </li>
    </ul>
</div>