.feedback-form {
  margin-top: 30px;
  padding: 20px;
  background-color: var(--background-color);
  border-radius: 8px;
  box-shadow: var(--shadow-sm);
}

.feedback-form input,
.feedback-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--neutral-300);
  border-radius: 5px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.feedback-form textarea {
  height: 100px;
}