:root {
  /* Цвета */
  --primary-color: #4FD6FF;
  --secondary-color: #FF78FF;
  --accent-color: #8B00FF;
  --background-color: #2B2B36;
  --text-color: rgba(244, 237, 237, 0.8);
  --header-bg: rgb(42, 48, 60);

  /* Градиенты */
  --primary-gradient: linear-gradient(
    45deg,
    var(--primary-color),
    var(--secondary-color),
    var(--accent-color)
  );
  --primary-gradient-transparent: linear-gradient(
    45deg,
    rgba(79, 214, 255, 0.8),
    rgb(253, 119, 253),
    rgb(138, 0, 253)
  );

  /* Эффекты */
  --button-hover-effect: transform 0.3s ease, box-shadow 0.3s ease;

  /* Размеры */
  --max-width: 1400px;

  /* Точки перелома */
  --breakpoint-mobile: 640px;
  --breakpoint-tablet: 768px;
  --breakpoint-small-mobile: 480px;

  /* Типографика */
  --font-family: 'Roboto', sans-serif;
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;
  --font-size-xxl: 32px;

  /* Тени */
  --shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 4px 8px rgba(0, 0, 0, 0.2);
  --shadow-lg: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Общие стили */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 20px;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--neutral-100);
  margin: 0;
  font-weight: bold;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--accent-color);
}