/* media-queries.css */
@media (max-width: var(--breakpoint-mobile)) {
  .header-content {
    flex-direction: column;
    align-items: center;
  }

  .logo img {
    width: 100px;
  }

  .header-text h1 {
    font-size: var(--font-size-xl);
  }

  .header-text p {
    font-size: var(--font-size-md);
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
  }
}





/*медиа-запросы для адаптации под мобильные устройства.*/

/*!* media-queries.css *!*/
/*@media (max-width: 768px) {*/
/*  .logo img {*/
/*    width: 100px;*/
/*    height: auto;*/
/*    margin: 10px 0;*/
/*  }*/

/*  .header-text h1 {*/
/*    font-size: 24px;*/
/*    text-align: center;*/
/*  }*/

/*  .header-text p {*/
/*    font-size: 14px;*/
/*    text-align: center;*/
/*  }*/

/*  nav ul {*/
/*    flex-direction: column;*/
/*    gap: 10px;*/
/*    background-color: #f8f9fa;*/
/*    padding: 10px;*/
/*    border-radius: 8px;*/
/*    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);*/
/*  }*/

/*  nav ul.active {*/
/*    display: flex;*/
/*  }*/

/*  .menu-toggle {*/
/*    display: block;*/
/*    background: none;*/
/*    border: none;*/
/*    font-size: 24px;*/
/*    cursor: pointer;*/
/*  }*/

/*  .header-content {*/
/*    padding: 10px;*/
/*  }*/

/*  .text-section {*/
/*    margin-left: 15px;*/
/*  }*/
/*}*/